.App {
  display: flex;
}

.rooms {
  list-style: none;
  background-color: gray;
}

.message-container {
  flex: 1 1 50%;
  text-align: center;
}

.room-container {
  flex: 1;
}

.user-container {
  flex: 1;
}

.messages {
  list-style: none;
}

.create-message {
  text-align: center;
}

p {
  font-size: 150%;
}

.buttons {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10%;
}
